body{
  margin: 0;
  padding: 0;

}
.c1, .c2, .c3{
  width: 200px;
  height: 200px;
  position:relative;

}
.c1{
background: #ee3e64;
left: 300px;
}

.c2{
background: #44accf;
left: 500px;

}
.c3{
background: #b7d84b;
bottom:  200px;
left: 100px;
}
