body{
  margin: 0;
  padding: 0;

}
.c1, .c2, .c3, .c4{
  width: 200px;
  height: 200px;


}
.c1{
background: #ee3e64;
}

.c2{
background: #44accf;
position: absolute;
left: 200px;
}
.c3{
background: #b7d84b;
}
.c4{
  background: #e5f70c;
}
